<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="stylesheets/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="stylesheets/style.css"> <!-- Resource style -->
	<link rel="stylesheet" href="stylesheets/shCore.css"> 
	<link rel="stylesheet" href="stylesheets/shThemeRDark.css"> 
	<script src="javascripts/modernizr.js"></script> <!-- Modernizr -->
	<title>FormBuilder Documentation | Craft CMS Plugin</title>
</head>
<body>
<header>
	<h1>FormBuilder Documentation
		<span>
			<a href="https://github.com/roundhouse/FormBuilder-Craft-CMS">View on GitHub</a> |
			<a href="https://github.com/roundhouse/FormBuilder-Craft-CMS/archive/master.zip">Download</a>
		</span>
	</h1>
</header>
<a href="https://github.com/you"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>
<section class="cd-faq">
	<ul class="cd-faq-categories">
		<li><a class="selected" href="#basics">Installation</a></li>
		<li><a href="#createforms">Create Forms</a></li>
		<li><a href="#displayform">Display Form</a></li>
		<li><a href="#credits">Credits</a></li>
	</ul> <!-- cd-faq-categories -->

	<div class="cd-faq-items">
		<p class="body-copy">I made this plugin because I was struggling to find something that'll let me generate multiple forms with custom fields. I didn't want to manually create markup for each field. Now using this plugin I can do that pretty easily. This is a first plugin I made for Craft CMS. So you may come across some bugs/issues, please report them to the github issue tracker.</p>
		<ul id="basics" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Installation</h2></li>
			<div class="block">
				<p><span>1</span> Download the plugin from github <code>git@github.com:roundhouse/FormBuilder-Craft-CMS.git</code></p>
			</div>

			<div class="block">
				<p><span>2</span> Rename the folder to <code>FormBuilder</code> and place it into your Craft CMS Plugin directory.</p>
			</div>

			<div class="block">
				<p><span>3</span> Navigate to your plugins page <code>/settings/plugins</code> and click Install</p>
				<img src="images/1.1.png" />
			</div>

			<div class="block">
				<p><span>4</span> New menu will appear in your toolbar called <code>FormBuilder</code>.</p>
				<img src="images/1.2.png" />
			</div>
		</ul> <!-- cd-faq-group -->
		

		<ul id="createforms" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Create Forms</h2></li>
			<div class="block">
				<p><span>1</span> In your browser go to the plugin page and click "New form". Give your form a Name and it will automatically generate a Handle for you. Enter where you want the form to send (you can enter multiple emails comma separated). Enter you email's subject line. You can leave Email Template Path as is or create your own markup <code>formbuilder/templates/email</code>, this is what gets sent to the email entered previously. </p>
				<p>Design your field layout is the gold of this plugin. This is where you assign fields to your form. To do this we use Craft's fields creator first, so go to <code>/settings/fields</code> and add a new field. After you add the new field it will appear in your field layout and you will be able to drag and drop the fields into your form. When done save the form. </p>
				<img src="images/1.3.png" />
			</div>

			<div class="block">
				<p><span>2</span> Now your form is ready for use. Take note of the form Handle, we will use that in the next steps to display our Subscription Form.</p>
				<img src="images/1.4.png" />
			</div>
		</ul>

		<ul id="displayform" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Display Form</h2></li>
			<div class="block">
				<p><span>1</span> To make ecerything work you must copy 2 directories from <code>craft/app/templates</code>. You'll need <code>_components</code> and <code>_includes</code>. Copy those 2 folders into your templates directory <code>craft/templates</code>. Now you are ready to display your form.</p>
			</div>

			<div class="block">
				<p><span>2</span> Check the plugin directory for sample mark up <code>sampleForm.html</code>. Lets look at the important stuff.</p>
				<p>Line 2 - we use this to render out our fields (in earlier steps you coppied crafts _include into your template directory).</p>
				<p>Line 4 - Is the most important. This is where you enter you forms Handle name, so the template can locate it. Earlier we created Subscription Form and the form handle was subscriptionForm, so lets replace the 'ENTER YOUR FORM HANDLE HERE' with your form's handle.</p>
				<p>Line 26 - Here you can enter the path where you want users to be redirected to after the form is successfully sent.</p>
				<p>Line 29 - Required fields must be created manually at the moment. So if you have fields that required validation you need to create them. Take a look at <code>name="required[yourEmail]"</code>, basically when you create fields using Craft's Filed Creator each field has a handle assigned to it. So go find out your fields handle and put it between the brackets. You need to create new hidden input for each required field. NOTE: the validation for now is just checking if the field is blank or not, in the future I want to make sure emails get validated, etc. Also I would like to make the required fields dynaic as well...</p>
				<pre class="brush: php">
					{% extends "_layout" %}
					{% import "_includes/forms" as forms %}

					{% set form = craft.formBuilder.getFormByHandle('ENTER YOUR FORM HANDLE HERE') %}
					{% set fields = form.fieldLayout.getFieldLayout().getFields() %}

					{% block content %}
					<div class="container">

					{# Error handling #}
					{% if craft.session.hasFlash('error') %}
					  <div class="errors">
					  {% for error in craft.session.getFlash('error').required %}
					    <p class="error">{{ error }}</p>
					  {% endfor %}
					  </div>
					{% endif %}

					{# Success handling #}
					{% if craft.session.hasFlash('success') %}
					  <p class="success">{{ craft.session.getFlash('success') | raw }}</p>
					{% endif %}

					<form method="post" accept-charset="utf-8">
					  <input type="hidden" name="action" value="formBuilder/entries/saveFormEntry">
					  <input type="hidden" name="redirect" value="/">
					  <input type="hidden" name="formHandle" value="{{form.handle}}">
					  <input type="hidden" name="formHoneypot" value="">
					  <input type="hidden" name="required[yourEmail]" value="Please enter your email address.">

					  {% for field in fields %}
					    {% include "_includes/field" with {
					      field: craft.fields.getFieldById(field.fieldId),
					      required: field.required,
					    } only %}
					  {% endfor %}

					  <button type="submit">
					    Submit Message
					  </button>

					</form>

					</div>
					{% endblock %}
				</pre>
			</div>

			<div class="block">
				<p><span>3</span> Thats it, your form should now render with your fields.</p>
			</div>
		</ul>

		<ul id="credits" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Credits</h2></li>
			<div class="block">
				<ol>
					<li><p>This plugin was developed from another similar plugin called <a href="https://github.com/synergema/Craft-SimpleForm" target="_blank">SimpleForm</a></p></li>
					<li><p>Logo Icon: Layers designed by <a href="http://www.thenounproject.com/itscip">Ciprian Popescu</a> from the <a href="http://www.thenounproject.com">Noun Project</a></p></li>
				</ol>

			</div>
		</ul>

	</div> <!-- cd-faq-items -->
	<a href="#0" class="cd-close-panel move-left">Close</a>
</section> <!-- cd-faq -->
<script src="javascripts/jquery-2.1.1.js"></script>
<script src="javascripts/jquery.mobile.custom.min.js"></script>
<script src="javascripts/shCore.js"></script>
<script src="javascripts/shBrushPhp.js"></script>
<script src="javascripts/main.js"></script> <!-- Resource jQuery -->
</body>
</html>