{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}
{% includeCssResource "formbuilder/css/formBuilder.css" %}

{% set extraPageHeaderHtml %}
  <a href="{{ url('formbuilder') }}">
  <div class="icon">
  <?xml version="1.0" encoding="utf-8"?>
  <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
    <svg version="1.1" id="layers" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       width="100px" height="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
      <polygon id="layer3" points="80.5,60 94.9,67 49.9,88.6 4.9,67 19.4,60 22.5,61.5 11.3,67 49.9,85.6 88.6,67 77.3,61.5 "/>
      <polygon id="layer2" points="77.3,44.6 88.6,50 49.9,68.6 11.3,50 22.5,44.6 19.4,43.1 4.9,50 49.9,71.7 94.9,50 80.5,43.1 "/>
      <polygon id="layer1" points="94.9,33.1 49.9,11.4 4.9,33.1 49.9,54.7 "/>
    </svg>
  </div>
  <img src="{{ resourceUrl('formbuilder/images/formBuilder_logo.png') }}" /></a>
{% endset %}

{% block content %}
	<form method="post" accept-charset="UTF-8" data-saveshortcut="1">
		<input type="hidden" name="action" value="formBuilder/forms/saveForm">
		<input type="hidden" name="redirect" value="formbuilder/forms">
		{% if form.id %}<input type="hidden" name="formId" value="{{ form.id }}">{% endif %}

		{{ forms.textField({
			first: true,
			label: "Name"|t,
			instructions: "What this form will be called in the CP."|t,
			id: 'name',
			name: 'name',
			value: form.name,
			errors: form.getErrors('name'),
			autofocus: true,
			required: true,
			translatable: true
		}) }}

		{{ forms.textField({
			label: "Handle"|t,
			instructions: "How you’ll refer to this form in the templates."|t,
			id: 'handle',
			class: 'code',
			name: 'handle',
			value: form.handle,
			errors: form.getErrors('handle'),
			required: true
		}) }}

		{{ forms.textField({
			label: "To Email"|t,
			instructions: "Where should this form send to?"|t,
			id: 'toEmail',
			class: 'toEmail',
			name: 'toEmail',
			value: form.toEmail,
			errors: form.getErrors('toEmail'),
			required: true
		}) }}

		{{ forms.textField({
			label: "Email Subject"|t,
			instructions: "Subject line for email notifications"|t,
			id: 'subject',
			class: 'subject',
			name: 'subject',
			value: form.subject,
			errors: form.getErrors('subject'),
			required: false
		}) }}

		{{ forms.textField({
			label: "Email Template Path"|t,
			instructions: "Enter Email Template Path. default 'formbuilder/email/default'"|t,
			id: 'notificationTemplatePath',
			class: 'notificationTemplatePath',
			name: 'notificationTemplatePath',
			value: form.notificationTemplatePath ? form.notificationTemplatePath : "formbuilder/email/default"|t,
			errors: form.getErrors('notificationTemplatePath'),
			required: true
		}) }}

		<hr>

		{% include "_includes/fieldlayoutdesigner" with {
			fieldLayout: form.getFieldLayout(),
			customizableTabs: false,
		} only %}

		<hr>

		<div class="buttons">
			<input type="submit" class="btn submit" value="{{ 'Save'|t }}">
		</div>
	</form>
{% endblock %}


{% set js %}
	{% if not form.handle %}new Craft.HandleGenerator('#name', '#handle');{% endif %}
{% endset %}
{% includeJs js %}
