{% if form is defined %}
  <h3>New {{ form.name }} Submission [{{ entry.id }}]</h3>
{% endif %}
<hr>
{% if data is defined %}
  <table>
  {% for key, value in data %}
    {% if value %}
    <tr>
      <td><strong>{{ key | addSpace }}: </strong></td>
      
      {% if value | checkArray == '1' %}
      {% for key, item in value %}
        <td>{{ item }}</td>
      {% endfor %}
      {% else %}
      <td>{{ value }}</td>
      {% endif %}

    </tr>
    {% endif %}
  {% endfor %}
  </table>
{% endif %}